:root {
}

#style {
  height: max(20vh, 12rem);
  max-width: 100%;
  aspect-ratio: 12 / 5;
  container-type: size;
  position: relative;
  margin: 1vh auto min(10cqh, 3.5rem);

  @media (width <= 420px) {
    & {
      aspect-ratio: 9 / 5;
    }
  }

  & #cup {
    position: absolute;
    left: 0;
    height: 100cqh;
    max-width: 100%;
    aspect-ratio: 2105 / 1778;
  }

  & #sign {
    position: absolute;
    top: 32cqh;
    left: 24cqw;
    height: 100cqh;
    max-width: 100%;
    aspect-ratio: 392 / 223;

    @media (width <= 420px) {
      & {
        left: 0;
      }
    }
  }
}