.link {
  position: relative;
  z-index: 1;
  cursor: pointer;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-top: 3rem;
}

main {
  display: grid;
  place-items: center;

  & h1 {
    text-align: center;
  }
}