
  #_style_5gs9o_1 h1 {
    font-size: clamp(2rem, 10vmin - 3ch, 12rem);
    text-align: center;
  }

#_style_5gs9o_1 main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

#_style_5gs9o_1 ._markdown_5gs9o_14 {
    margin-bottom: 3rem;
  }

#_style_5gs9o_1 ._markdown_5gs9o_14 p {
      font-size: clamp(1.5rem, 3vmin - 1ch, 4rem);
      max-width: 65ch;
      text-indent: 1em;
      margin: auto 0.75em;
      text-align: justify;
    }

._image_5gs9o_27 {
  max-width: 80vmin;
  max-height: 80vmin;
  border-radius: 5%;
  padding: 3.5vw;
  outline: 4px double #000;
  margin-bottom: 3rem;
}

._video_5gs9o_36, ._object_5gs9o_36, ._model_5gs9o_36 {
  border-radius: 2.5rem;
  padding: 0;
  width: 80dvw;
  height: min(75ch, 100dvh);
  overflow: hidden;
  outline: 4px double #000;
}
